[{nif, [{crypto_backend, crypto}]},
 {logdir, "tmp/ct_logs_integration"},
 {cover, "tmp/ct_cover_integration"},
 {ct_opts, [{logdir, "tmp/ct_logs_integration"}, {cover, "tmp/ct_cover_integration"}, {verbosity, 100}]},
 {cover_opts, [verbose]},
 {cover_export_enabled, true},
 {cover_export_format, html}]. 