[{nif, [{crypto_backend, crypto}]},
 {logdir, "tmp/ct_logs_performance"},
 {cover, "tmp/ct_cover_performance"},
 {ct_opts, [{logdir, "tmp/ct_logs_performance"}, {cover, "tmp/ct_cover_performance"}, {verbosity, 50}]},
 {cover_opts, [verbose]},
 {cover_export_enabled, true},
 {cover_export_format, html}]. 